@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #3bb0c9;
  font-family: "Oswald", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

svg {
  overflow: visible;
}

body {
  margin: 1em;
}

header {
  align-items: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #a35eb5;
  text-shadow: 2px 2px #553278;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #f9c53d;
  padding: 0.5em;
  margin: 0 auto 1em auto;
  background-color: #553278;
  border-radius: 1rem;
  max-width: 600px;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 300;
  column-width: 30rem;
  color: #fff;
  background-color: #bc85c7;
  padding: 0.5em;
  border-radius: 0.5em;
  max-width: 500px;
  margin-top: 0;
}

.panel-1 {
  background-color: #a35eb5;
  border-radius: 1rem;
  padding: 1em;
  display: none;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

.panel-1:target {
  display: block;
}

.panel-2 {
  background-color: #78447d;
  border-radius: 1rem;
  display: none;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

.panel-2:target {
  display: block;
}

.panel-3 {
  background-color: #bc85c7;
  border-radius: 1rem;
  padding: 1em;
  display: none;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}


.panel-3:target {
  display: block;
}

.tabs {
  margin: 0 auto;
  list-style-type: none;
  text-align: left;
  max-width: 900px;
}

.tabs > li {
  display: inline-block;
}

.tabs a {
  display: inline-block;
  position: relative;
  transition: all .3s ease;
}

.tabs a:hover {
  color: #fff;
}

.tabs-1 {
  background-color: #a35eb5;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0;
}

.tabs-2 {
  background-color: #bc85c7;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0;
}

.tabs-3 {
  background-color: #78447d;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0;
}

.whale {
  padding: 1em;
}

.crow {
  animation: all 2s ease;
}

@media only screen and (min-width: 10em) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.75rem;
  }

  .tabs-1 {
    font-size: 0.5rem;
  }

  .tabs-2 {
    font-size: 0.5rem;
  }

  .tabs-3 {
    font-size: 0.5rem;
  }

  .panel-1 {
    padding: 0.5em;
  }

  .panel-2 {
    padding: 0.5em;
  }

  .panel-3 {
    padding: 0.5em;
  }

}

@media only screen and (min-width: 24em) {

  .tabs-1 {
    font-size: 0.75rem;
  }

  .tabs-2 {
    font-size: 0.75rem;
  }

  .tabs-3 {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 35em) {

  .tabs-1 {
    font-size: 0.75rem;
  }

  .tabs-2 {
    font-size: 0.75rem;
  }

  .tabs-3 {
    font-size: 0.75rem;
  }

  .panel-1 {
    padding: 1em;
  }

  .panel-2 {
    padding: 1em;
  }

  .panel-3 {
    padding: 1em;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .tabs-1 {
    font-size: 1rem;
  }

  .tabs-2 {
    font-size: 1rem;
  }

  .tabs-3 {
    font-size: 1rem;
  }

  .panel-1 {
    padding: 1.5em;
  }

  .panel-2 {
    padding: 1.5em;
  }

  .panel-3 {
    padding: 1.5em;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .tabs-1 {
    font-size: 1.5rem;
  }

  .tabs-2 {
    font-size: 1.5rem;
  }

  .tabs-3 {
    font-size: 1.5rem;
  }

  .panel-1 {
    padding: 2em;
  }

  .panel-2 {
    padding: 2em;
  }

  .panel-3 {
    padding: 2em;
  }
}

#crow {
  animation: all 2s ease;
}

#crow-arm {
  animation: crow-rotate 1s ease;
  transform-origin: 150px 100px;
}

@keyframes crow-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#dolphin {
  animation: all 2s ease;
}

#dolphin-body {
  animation: dolphin-rotate 1s ease;
  transform-origin: center;
}

@keyframes dolphin-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#elephant {
  animation: all 2s ease;
}

#elephant-ear {
  animation: dolphin-rotate 1s ease;
  transform-origin: 96px 52px;
}

@keyframes elephant-ear-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#monkey {
  animation: all 2s ease;
}

#calculator {
  animation: dolphin-rotate 1s ease;
  transform-origin: center;
}

@keyframes dolphin-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#self-bird {
  animation: all 2s ease;
}

#mirror {
  animation: mirror-rotate 1s ease;
  transform-origin: 102px 71px;
}

@keyframes mirror-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#memory-bird {
  animation: all 2s ease;
}

#memory-wing {
  animation: wing-rotate 1s ease;
  transform-origin: 154px 94px;
}

@keyframes wing-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

#graph {
  animation: all 2s ease;
}

#bird-1 {
  animation: bird-1-go 1s ease;
  transform-origin: 150px 100px;
}

@keyframes bird-1-go {

  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(300px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

#bird-2 {
  animation: bird-2-go 1.3s ease;
  transform-origin: 150px 100px;
}

@keyframes bird-2-go {

  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(260px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

#cheetah {
  animation: cheetah-go 1.6s ease;
  transform-origin: 150px 100px;
}

@keyframes cheetah-go {

  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(180px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

#shark {
  animation: shark-go 2s ease;
  transform-origin: 150px 100px;
}

@keyframes shark-go {

  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(165px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

#whale {
  animation: all 2s ease;
}

#whale-body {
  animation: whale-fall 1s ease;
  transform-origin: 150px 100px;
}

@keyframes whale-fall {

  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, -50px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -25px);
  }

  100% {
    transform: translate(0, 0);
  }
}

#cat {
  animation: all 2s ease;
}

#cat-head {
  animation: dolphin-rotate 1s ease;
  transform-origin: center;
}

@keyframes dolphin-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#cat-tail {
  animation: tail-rotate 1s ease;
  transform-origin: 50px 57px;
}

@keyframes tail-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#insects {
  animation: all 2s ease;
}

#grasshopper {
  animation: hopper-spin 1s ease;
  transform-origin: center;
}

@keyframes hopper-spin {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(180deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#butterfly {
  animation: butterfly-spin 1s ease;
  transform-origin: center;
}

@keyframes butterfly-spin {

  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-180deg);
  }

  80% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#moth {
  animation: moth-spin 1s ease;
  transform-origin: center;
}

@keyframes moth-spin {

  0% {
    transform: rotate(0);
  }

  70% {
    transform: rotate(-200deg);
  }

  100% {
    transform: rotate(0);
  }
}

#plant {
  animation: all 2s ease;
}

#plant-1 {
  animation: plant1-rotate 1s ease;
  transform-origin: 73px 128px;
}

@keyframes plant1-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(20deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#plant-2 {
  animation: plant2-rotate 1s ease;
  transform-origin: 73px 128px;
}

@keyframes plant2-rotate {

  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

#plant-3 {
  animation: plant3-rotate 1s ease;
  transform-origin: 73px 128px;
}

@keyframes plant3-rotate {

  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

#virus {
  animation: all 2s ease;
}

#virus-1 {
  animation: virus1-rotate 1s ease;
  transform-origin: center;
}

@keyframes virus1-rotate {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(20deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#virus-2 {
  animation: virus2-rotate 1s ease;
  transform-origin: center;
}

@keyframes virus2-rotate {

  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}

#virus-3 {
  animation: virus3-rotate 1s ease;
  transform-origin: center;
}

@keyframes virus3-rotate {

  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-60deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.footprints {
  left: 0;
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
  transform-origin: center center;
  background: url("../images/footprints.png") no-repeat center center / contain transparent;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {

  0% {
    width: 30px;
    height: 30px;
  }

  100% {
    width: 50px;
    height: 50px;
  }
}

.everything {
  position: relative;
  z-index: 1000;
}

.foot {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
